<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
</head>
<body>
    <!--
        **導覽列需要在外方使用 .navbar，並透過 .navbar-expand{-sm|-md|-lg|-xl} 給予響應式的折疊以及使用 color scheme class。
        **導覽列預設的內容寬度是浮動的，使用 optional containers 來限制水平寬度。
        **使用 spacing 及 flex 通用類別來控制物件在導覽列的間隔及對齊。
        **導覽列預設是響應式的，在修改上也很容易。響應式行為會使用折疊的 JavaScript 插件。
        **預設情況下，列印時 Navbar 是隱藏的，如果需要列印它可以加入 .d-print 在 .navbar 上，查看 display 的通用類別。
        **使用 <nav> 元素確保親和性，或者如果使用更通用的元素，如 <div>，在導覽列中添加一個 role="navigation" ，為使用者的輔助技術明確標識為導覽區域。
    -->

    <div class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
        <!-- .navbar-brand 左上LOGO位置，為您的公司，產品或專案名稱。 -->


        <a class="navbar-brand" href="/Shop/Index">
            <img style="width:40px;" src="/FileUploads/Shop.png" />
            水果專賣店
        </a>
        <!-- .navbar-toggler 漢堡式選單按鈕 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--
            .mr-auto 來將右邊剩下的空位謄出來。
            .mx-auto 把空位平均分散到左右兩邊。
            .ml-auto 把空位放到左邊
        -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-center">
                @{
                    if (Convert.ToBoolean(Session["auth"]) == true)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("首頁", "Index", "Shop", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Shop/Categories/All">購物商場</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Details">後台管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Logout">@Session["Name"].ToString() 登出</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("首頁", "Index", "Shop", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Shop/Categories/All">購物商場</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin">登入</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer id="customFooter">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>
                        實體地址：台北市亞拉拉區999號<br />
                        營業時間：08:00 - 22:00
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>
                        TedWu | Github<br />
                        資料來源：僅供練習、圖片來自網路。
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div id="CShoppingCar">
        @{
            if (Convert.ToBoolean(Session["auth"]) == false)
            {
                <button id="btnShopCart" class="btn-outline-primary">購物車(<span>0</span>)</button>
            }
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/productbackend")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

</body>
</html>
